
Notebooks/.ipynb_checkpoints/Data-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Data-Copy1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/stockData-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Py-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/R-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Joe_Py-Analysis-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Joe_R-Analysis-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Py-TemplateNotebook-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Data/.ipynb_checkpoints/data-checkpoint.csv
Notebooks/.ipynb_checkpoints/Beginner-Web-Scrape-Example (1)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Beginner-Web-Scrape-Example (1)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Beginner-Web-Scrape-Example (1)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/SmarInvestWebScrape-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Project-Plan-checkpoint.ipynb
