
Notebooks/.ipynb_checkpoints/Data-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Data-Copy1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/stockData-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Py-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/R-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Joe_Py-Analysis-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Joe_R-Analysis-Notebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Py-TemplateNotebook-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Data/.ipynb_checkpoints/data-checkpoint.csv
Notebooks/.ipynb_checkpoints/Beginner-Web-Scrape-Example (1)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Beginner-Web-Scrape-Example (1)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Beginner-Web-Scrape-Example (1)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/SmarInvestWebScrape-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Project-Plan-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/SmarInvestWebScrape-Copy1-checkpoint.ipynb
ProjectManagement/.ipynb_checkpoints/Project-Plan-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Israel-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Jesus-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Samondria-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/JesusOrganize-checkpoint.ipynb
.ipynb_checkpoints/Sector Data-checkpoint.ipynb
Notebooks/ExampleNotebooks/.ipynb_checkpoints/Example_from_website_to_csv-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/README-checkpoint.md
Notebooks/.ipynb_checkpoints/Auto_Chris_SmarInvestWebScrape-Copy1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Automated_Chris_SmarInvestWebScrape-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Chris_SmarInvestWebScrape-checkpoint.ipynb
Data/.ipynb_checkpoints/Troubleshoot_Automation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Full_Automation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Working Copy_Automated_Chris_SmarInvestWebScrape-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Full_Automation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Full_Automation-checkpoint.ipynb
Data/.ipynb_checkpoints/Clean_Headlines_CV-checkpoint.csv
Data/.ipynb_checkpoints/VerticleData_CV-checkpoint.csv
Data/.ipynb_checkpoints/VerticleFormat_CV-checkpoint.csv
Notebooks/.ipynb_checkpoints/WorkingCopy_Horizontal_Automated_Chris_SmarInvestWebScrape-Copy1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/WorkingCopy_Verticle_Automated_Chris_SmarInvestWebScrape-checkpoint.ipynb
Data/.ipynb_checkpoints/VerticleTEST_CV-checkpoint.csv
Notebooks/.ipynb_checkpoints/Full_Automation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Full_Automation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Chris_Sentiment_Analysis-checkpoint.ipynb
